<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div class="my-4">
        <h1>Kurse</h1>
    </div>

    <ul class="list-unstyled">
        <li th:each="course : ${courses}">
            <a th:href="${'/courses/' + course.id}" th:text="${course.name}"></a>
        </li>
    </ul>

    <form action="/courses" method="post" class="form-inline">
        <input name="name" type="text" placeholder="Name" class="form-control mr-2">
        <button type="submit" class="btn btn-primary">Anlegen</button>
    </form>
</div>
</body>
</html>